@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    font-family: 'poppins', sans-serif, Verdana, Tahoma;
}

body {
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: grid;
    grid-template-columns: 230px 3fr 1fr;
    grid-template-rows: 150px;
    box-sizing: border-box;
}

.nav {
    grid-column: 2 / 4;
    background-color: #475569;
    box-shadow: 0 6px 10px -4px;
    color: #fefefe;
}

.nav > div:first-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.nav > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-left: 20px;
    align-items: center;
}

.current img {
    transition: 0.5s;
}

@media screen and (max-width: 700px){
    .current {
        font-size: 10px;
    }
    
    .current img {
        scale: 0;
    }

    .upperHalf form svg {
        scale: 0;
    }
}

.nav > div:nth-child(2) img {
    position: relative;
    width: 60px;
    height: 60px;
}


/*nav search bar*/
.nav form {
    display: flex;
    border-radius: 1em;
    flex: 0.75;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0 0.5em;
}

.nav input {
    align-items: flex-start;
    display: flex;
    flex: 1;
    border-radius: 1em;
    box-shadow: inset 0 0 10px 0 rgb(0 0 0 / 40%);
    height: 30px;
}

@media screen and (max-width: 700px){
    .nav {
        grid-column: 1 / 4;
    }
    
    .nav input {
        width: 100px;
    }
    
    .buttons button {
        scale: 0.8;
    }
}

/*nav buttons*/
.buttons button{
    border-radius: 7px;
    height: 30px;
    width: 80px;
    transition: 0.3s ease-out;
    background:  linear-gradient(to left, rgb(33, 143, 216) 50%, rgb(172, 23, 185) 50%) right;
    background-size: 200%;
    color: #fefefe;
    font-weight: bold;
}

.buttons {
    margin-right: 30px;
}

.buttons button:hover {
    box-shadow: 0 0 20px 5px rgb(255, 255, 255);
    background-position: left;
}

.upperHalf form svg {
    padding-right: 10px;
    padding-top: 3px;
    transition: 0.5s;
}

.profile {
    position: relative;
    display: flex;;
    align-items: center;
    gap: 30px;
}

.profile a {
    color: #fefefe;
}

@media screen and (max-width: 700px) {
    .sideContainer {
        width: 55px;
        background-color: none;
    }

    .dashboard button {
        scale: 1.2;
    }

    .dashboard h2 {
        display: none;
    }

    .sideElements {
        align-content: center;
        background-color: none;
    }

    .sideElements span {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .sideContainer {
        background-color: #3f3f46;
        box-shadow: 0 4px 7px 0;
    }
}

.sideContainer {
    height: 100%;
    min-width: 5%;
    position: fixed;
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
    color: #fefefe;
}

.dashboard button {
    border-radius: 5px;
    color: #fefefe;
    background-color: rgb(33, 143, 216);
    height: 30px;
    width: 40px;
    transition: 0.5s;
}

.sideElements {
    background-color: #3f3f46;
    position: relative;
    left: -250px;
    transition: 0.3s;
}
    
.sideElements a:hover {
    background-color: purple;
}

.sideElements a{
    display: block;
    padding: 20px;
    font-size: 20px;
    color: #fefefe;
}

.sideElements svg {
    padding-right: 10px;
}

.projects {
    grid-column: 2 / 3;
    background-color: #687a94;
    display: grid;
    padding: 15px;
}

@media (min-width: 700px) {
    .projectsGrid { 
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        box-sizing: border-box; 
    }
}

.projects h2 {
    color: #fefefe;
}

@media screen and (max-width: 700px) {
    .projects {
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 700px) {
    .projectsGrid {
        gap: 1em;
    }
}

.projects img {
    width: 80%;
    height: 290px;
    border-radius: 10px;
    margin-left: 9%;
}

.projects article {
    border-radius: 5px;
    align-items: stretch;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: inset 6px 0 2px rgba(224, 204, 17, 0.781);
    background-color: aliceblue;
    font-size: 20px;
}

.rightPanel {
    background-color: #687a94;
    color: #fefefe;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-top: 2em;
}

.topHalf {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 3px black;
    border-radius: 10px;
    padding: 10px;
}

.topHalf article:nth-child(2) {
    box-shadow: 0 5px 3px -3px  black;
}

.topHalf article:nth-child(3) {
    box-shadow: 0 7px 3px -3px  black;
}

.lowerHalf {
    box-shadow: 0 0 10px 3px black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.trending {
    align-items: center;
    display: flex;
    gap: 15px;
}

.trending img {
    border-radius: 34px;
    width: 70px;
    height: 70px;
}

@media screen and (max-width: 700px) {
    footer {
        grid-column: 1 / 4;
    }
}

footer {
    grid-column: 1 / 4;
}    

.footer {
    background-color: #475569;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    color: #fefefe;
    padding: 15px;
}

.footer a:visited {
    color: #fefefe;
}