@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    font-family: 'poppins', sans-serif, Verdana, Tahoma;
}

body {
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: grid;
    grid-template: repeat(10, 150px) / 230px 3fr 1fr;
    box-sizing: border-box;
}

.nav {
    grid-column: 2 / 4;
    background-color: #475569;
    box-shadow: 0 6px 10px -4px;
}

.nav > div:first-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.nav > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-left: 20px;
}

.nav > div:nth-child(2) img {
    position: relative;
    width: 60px;
    height: 60px;
}

.buttons {
    margin-right: 20px;
}

/*nav search bar*/
.nav form {
    display: flex;
    border-radius: 1em;
    flex: 0.75;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0 0.5em;
}

.nav input {
    align-items: flex-start;
    display: flex;
    flex: 1;
    border-radius: 1em;
    box-shadow: inset 0 0 10px 0 rgb(0 0 0 / 40%);
    height: 30px;
}

/*nav buttons*/
.buttons button{
    border-radius: 7px;
    height: 30px;
    width: 80px;
    margin: 5px;
    transition: 0.3s ease-out;
    background:  linear-gradient(to left, rgb(33, 143, 216) 50%, rgb(98, 228, 38) 50%) right;
    background-size: 200%;
}

.buttons button:hover {
    box-shadow: 0 0 20px 5px rgb(255, 255, 255);
    background-position: left;
}

.upperHalf form svg {
    padding-right: 10px;
    padding-top: 3px;
}

.profile {
    position: relative;
    display: flex;;
    align-items: center;
    gap: 30px;
}

.sideContainer {
    width: 230px;
    position: fixed;
    background-color: #3f3f46;
    box-shadow: 0 4px 7px 0;

}

.sideContainer h2 {
    text-align: center;
}

.sideContainer button {
    height: 30px;
    width: 40px;
}

.sideElements {
    background-color: #3f3f46;
    position: relative;
    left: -250px;
    transition: 0.3s;
    box-sizing: border-box;
}

.sideElements a{
    display: block;
    padding: 20px;
    font-size: 20px;
    color: white;
}

.sideElements svg {
    padding-right: 10px;
}

@media (min-width: 600px) {
    .projectsGrid { 
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
  }

.projects {
    grid-column: 2 / 3;
    grid-row: 2 / 10;
    padding: 15px;
    background-color: #687a94;
}

.projectsGrid {
    display: grid;
    column-fill: auto;
    gap: 1em;
}

.projects img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    padding: 10px auto;
}

.projects article {
    border-radius: 5px;
    align-items: stretch;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 10px;
    box-shadow: inset 5px 0 2px rgba(224, 204, 17, 0.781);
    background-color: aliceblue;
}